@import "./mixins.scss";

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

button {
  outline: none;
  background: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $light;
  font-weight: 1000;
}

dialog {
  @include sans;
  @include glass;
  @include shadow;

  color: $light;
  max-width: 500px;
  outline: none;
  padding: none;
  border: none;
  border-radius: 10px;

  top: 50vh;
  bottom: 50vh;
  z-index: 100;

  button {
    color: $light;
    position: absolute;
    right: 10px;
  }
}

dialog[open] {
  animation: fadein 1s ease normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

dialog::backdrop {
  background-color: black;
  opacity: 0.4;
}
