@import "./mixins.scss";
@import "./navbar.scss";
@import "./global.scss";

body {
  @include no-padding-margin;
  padding-top: $navbarHeight;
  width: 100vw;
  color: white;
  background: black;

  @include flex(column);
  align-items: center;
}

#unitsContainer {
  @include flex(column);
  @include flex-center;
  width: 100vw;
  background: red;
}

.unitDiv {
  justify-content: space-between;

  h1 {
    font-size: xx-large;
  }
  p {
    font-size: large;
  }
}
.levelDiv {
  justify-content: left;
}

.levelDiv,
.unitDiv {
  @include flex(row);

  width: 80vw;
  max-width: 600px;
  align-items: center;
  background: grey;
  margin-bottom: 10px;
}
