@import "./mixins.scss";
@import "./palette.scss";

#notification {
  @include glass;
  @include sans;

  position: fixed;
  z-index: 1000;
  top: 30px;
  left: 30px;

  color: $light;
  padding: 20px;
  border-radius: 10px;

  transition: opacity 0.5s;
}

.notificationHidden {
  opacity: 0;
}
