@import "./global.scss";
@import "./mixins.scss";

:root {
  --simHeight: 60vh;
}

$simHeight: var(--simHeight);
$simWidth: 90vw;
$simBtnsContainerHeight: 5vh;

@mixin dotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#simulationMain {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $simHeight;
  width: 100vw;

  @include flex(column);
  @include flex-center;
}

#simBtnsContainer {
  width: $simWidth;
  height: $simBtnsContainerHeight - 1vh;
}

#simulationContainer {
  @include flex(row);
  @include flex-center;

  background: red;
}

.IOContainer {
  @include dotContainer;
  background: blue;
}

#gameContainer {
  @include flex(center);
  @include flex-center;

  background: transparent;
}
#gameCanvas {
  background: black;
  border: 5px solid yellow;
}
#gameMain {
  position: absolute;
  background: transparent;
  color: white;
  height: calc($simHeight - $simBtnsContainerHeight);
  width: $simWidth;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-align: center;
  background: pink;
  color: black;
}
.popup {
  position: absolute;
  border: 1px solid white;
  padding: 10px;
}
.dot {
  @include dimensions(20px, 20px);
  border-radius: 50%;
  background: black;
}

.dotContainer {
  @include dotContainer;
  height: 100%;
}
