@import "./global.scss";

$simHeight: 90vh;

@mixin dotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#simulationContainer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: $simHeight;
  width: 100vw;

  background: red;
}

.IOContainer {
  @include dotContainer;
  background: blue;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: transparent;
}
#gameCanvas {
  background: black;
  border: 5px solid yellow;
}
#gameMain {
  position: absolute;
  background: transparent;
  color: white;
  height: $simHeight - 10vh;
  width: 90vw;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-align: center;
  background: pink;
  color: black;
}
.popup {
  position: absolute;
  border: 1px solid white;
  padding: 10px;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
}

.dotContainer {
  @include dotContainer;
  height: 100%;
}
