@import "./mixins.scss";
@import "./navbar.scss";
@import "./global.scss";

body {
  display: flex;
  justify-content: center;
}

#simulationMain {
  position: fixed;
  top: 0;
  left: 0;

  height: calc(100vh - $navbarHeight);
  width: 100vw;
  padding-top: $navbarHeight;

  z-index: 10;
  @include flex(column);
  @include flex-center;
  background: purple;
}

#simulationContainer {
  @include flex(row);
  @include flex-center;

  background: red;
}

#gameContainer {
  @include flex(center);
  @include flex-center;

  background: transparent;
}
#gameCanvas {
  background: black;
  border: 5px solid yellow;
}
#gameMain {
  position: absolute;
  background: transparent;
  color: white;
  height: 100%;
  width: 100vw;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-align: center;
  background: pink;
  color: black;
}
.popup {
  position: absolute;
  border: 1px solid white;
  padding: 10px;
}
.dot {
  @include dimensions(20px, 20px);
  border-radius: 50%;
  background: black;
}

@mixin dotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.IOContainer {
  @include dotContainer;
  position: absolute;
  top: 0;
  left: 0;
  background: blue;
}

.dotContainer {
  @include dotContainer;
  height: 100%;
}
